@model Projecten2_TicketingPlatform.Models.ContractViewModels.EditViewModel

@{
    ViewData["Title"] = "Create";
}
 
<h1>Create</h1>

<h4>EditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContractType" class="control-label"></label>
                <input asp-for="ContractType" class="form-control" />
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdatum" class="control-label"></label>
                <input asp-for="Startdatum" class="form-control" />
                <span asp-validation-for="Startdatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doorlooptijd" class="control-label"></label>
                <input asp-for="Doorlooptijd" class="form-control" />
                <span asp-validation-for="Doorlooptijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

