@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welkom @User.Identity.Name</h1>

@if (this.User.IsInRole("klant"))
{
    <div class="container">
        <div class="row mt-5 row justify-content-around">
            <div class="col-sm-6 col-md-4">
                <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Contract" asp-action="Contracten">Contracten Beheren</a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Knowledgebase" asp-action="KnowledgeBase">Knowledge base</a>
            </div>
        </div>
        <div class="row mt-5 row justify-content-around">
            <div class="col-sm-6 col-md-4">
                <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Statistieken" asp-action="Statistieken">Statistieken</a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Ticket" asp-action="TicketsBeheren">Tickets Beheren</a>
            </div>
        </div>
    </div>
}

@if (this.User.IsInRole("technieker"))
{
<div class="container">
    <div class="row mt-5 row justify-content-around">
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Ticket" asp-action="TicketsBeheren">Tickets Beheren</a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Knowledgebase" asp-action="KnowledgeBase">Knowledge Base</a>
        </div>
    </div>
    <div class="row mt-5 row justify-content-around">
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Statistieken" asp-action="Statistieken">Statistieken</a>
        </div>
    </div>
</div>
}

@if (this.User.IsInRole("supportmanager"))
{
<div class="container">
    <div class="row mt-5 row justify-content-around">
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Ticket" asp-action="Tickets">Tickets Beheren</a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Knowledgebase" asp-action="KnowledgeBase">Knowledge Base</a>
        </div>
    </div>
    <div class="row mt-5 row justify-content-around">
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Statistieken" asp-action="Statistieken">Statistieken</a>
        </div>
    </div>
</div>
}

@if (this.User.IsInRole("administrator"))
{
<div class="container">
    <div class="row mt-5 row justify-content-around">
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Klant" asp-action="Klanten">Klanten Beheren</a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Werknemers" asp-action="WerknemersBeheren">Werknemers Beheren</a>
        </div>
    </div>
</div>
}
